.about-me-container {
    display: grid;
    background-color: #182030;
    grid-template-columns: 1fr;
    padding: 10% 0;
    
    .about-image-container {
       width: 100%;
       
       .about-image {
            width: 250px;
            height: 300px;
            background: linear-gradient(131.37deg, #FFFFFF 2.59%, #182030 98.05%);
            margin: 0 auto;
       }
    }
    .about-text {
        width: 250px;
        margin: 0 auto;
        color: #fff;
        h3 a {
            text-decoration: none;
            color: #fff;

            &:hover {
                color: pink;
                text-decoration: underline;
            }

            &:visited {
                color: aqua;
            }
        }
    }
}

.credentials {
    display: grid;
    background-color: #182030;
    grid-template-columns: 1fr;
    padding: 10% 0;
    justify-items: center;
    align-items: center;

    .skills, .background {
        text-align: center;
        width: 250px;
        height: 400px;
        margin: 10% 0;
        background: linear-gradient(131.37deg, #FFFFFF 2.59%, #182030 98.05%);
    }
}

@media screen and (min-width: 40em) {
    .about-me-container {
        grid-template-columns: 1fr 2fr;
        .about-image-container {
            margin: 0 10%;
            .about-image {
                width: 300px;
                height: 400px;
            }
        }
        .about-text {
            width: fit-content;
            margin: 0 10%;
        
            
        }
    }

    .credentials {
        grid-template-columns: 1fr 1fr;

        .skills, .background {
            //text-align: center;
            width: 300px;
            height: 400px;
            //margin: 10% 0;
            //background: linear-gradient(131.37deg, #FFFFFF 2.59%, #182030 98.05%);
        }
    }
}
