/* ABOUT PAGE */

//About Me section
.about-me-container {
    display: grid;
    background-color: #182030;
    grid-template-columns: 1fr;
    padding: 10% 0;
    //justify-content: center;

    //About Me Image Container
    .about-image-container {
       width: 100%;
       height: auto;
       
       .about-image {
            background: linear-gradient(131.37deg, #FFFFFF 2.59%, #182030 98.05%);
            margin: 0 auto;
            background-size: cover;
            background-position: center center;
            //height: fit-content;
            //filter: brightness(80%);
       }
    }
    
    //About Me Text
    .about-text {
        width: 250px;
        margin: 0 auto;
        color: #fff;
        h3 a {
            text-decoration: none;
            color: #fff;

            &:hover {
                color: pink;
                text-decoration: underline;
            }

        }
    }
}


// Skills and Background Container
.credentials {
    display: flex;
    background-color: #182030;
    flex-direction: column;
    // grid-template-columns: 1fr;
    padding: 10% 0;
    justify-items: center;
    align-items: center;
    background: white;
    .skills, .background {
        // display: grid;
        //grid-template-columns: ;
        text-align: center;
        width: 300px;
        height: auto;
        min-height: 300px;
        // margin: 10% 0;
        padding: 20px;
        //background: linear-gradient(131.37deg, #FFFFFF 2.59%, #182030 98.05%);
        
        font-size: 1.25em;
            p {
                font-weight: 500;
                color: #182030;
            }
        //add hover effect
    }
    
    .skills h3, .background h3 {
        font-size: 2em;
        font-family: 'Montserrat';
        font-weight: 700;
        margin: 10px 0 10px 0;
    }

    .background  {
        div {
            margin: 20px 0;
            background-color: rgba(95, 124, 181, 0.3);
            padding: 15px;
            line-height: 1.5em;
            
        }
        h4, h6, p {
            margin: 0;
        }
    }
    .background p {
        font-size: 0.65em;
    }
    .skills article {
        display: flex;
        //align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 30px;
        .icons {
            width: 110px;
            padding: 20px;
            filter: drop-shadow(0px 10px 4px rgba(50, 50, 93, 0.25));
            
        }
        
    }

    .background p {
        font-weight: 400;
    }
    
}

/* START OF MEDIA QUERIES */
@media screen and (min-width: 40em) {
    .about-me-container {
        grid-template-columns: 1fr 2fr;
        .about-image-container {
            margin: 0 10%;
            .about-image {
                background-size: cover;
                background-position: center center;
            }
        }
        .about-text {
            width: fit-content;
            margin: 0 10%;
        
            
        }
    }

    .credentials {
        //grid-template-columns: 1fr 1fr;
        .skills {
            width: calc(100% - 10%);
            height: auto;
        }
        .background {
            //text-align: center;
            width: calc(100% - 50%);
            height: auto;
            //margin: 10% 0;
            //background: linear-gradient(131.37deg, #FFFFFF 2.59%, #182030 98.05%);
        }

        .background div {
            align-items: center;
            width: 100%;
        }
        
    }
}

