.about-me-container {
    background-color: #182030;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    .about-image, .about-text {
        margin: 0 auto;
    }

    .about-image-container {
        width: 40%;
        height: 500px;
        
        .about-image {
            background: linear-gradient(131.37deg, #FFFFFF 2.59%, #182030 98.05%);
            min-width: 200px;
            max-width: 450px;
            height: 550px;
            border: 1px solid white;
        }
        
    }

    .about-text {
        width: 60%;
        margin: -220px 50px 0 30px;
        color: #fff;
    }
}