.heading {
  text-align: center;
  font-size: 3.5em;
  letter-spacing: 1px;
  width: calc(100% - 20px);
  // padding: 40px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  color: white;
  text-shadow: 0 0 0.05em #fe05e1, 
              0 0 0.2em #fe05e1, 
              0 0 0.3em #fe05e1,
              0 0 0.5em #fe05e1,
              0 0 0.8em #fe05e1;
  animation: flicker 3s infinite linear alternate;
}

@keyframes flicker {
  60% {
    opacity:1;
  }

  65% {
    opacity: 0.2;
  }

  66% {
    opacity: 0.8;
  }

  67% {
    opacity: 0.2;
  }

  69% {
    opacity: 0.8;
  }

  70% {
    opacity:1;
  }

  76% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.8;
  }

  78% {
    opacity: 0.2;
  }

  79% {
    opacity:1;
  }

}

.gallery-image {
  //padding: 20px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  gap: 15px;
  padding: 30px 0 60px 0;
}

.gallery-image img {
  height: 250px;
  width: 350px;
  transform: scale(1);
  transition: transform 0.4s ease;
}

.img-box {
  box-sizing: content-box;
  margin: 10px;
  height: 250px;
  width: 350px;
  overflow: hidden;
  display: inline-block;
  color: white;
  position: relative;
  background-color: white;
  border: 15px inset rgb(107, 100, 92);
}

.category {
  text-align: center;
  font-family: 'Montserrat';
  font-size: 2.5em;
  word-wrap: normal;
  //text-decoration: 3px solid underline;
  color: white;
  margin-top: 60px;
}

.caption {
  position: absolute;
  bottom: 5px;
  left: 20px;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  p a {
    color: #fff;
  }
}

.transparent-box {
  height: 250px;
  width: 350px;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease;
}

.img-box:hover img {
  transform: scale(1.1);
}

.img-box:hover .transparent-box {
  background-color: rgba(0, 0, 0, 0.5);
}

.img-box:hover .caption {
  transform: translateY(-20px);
  opacity: 1;
}

.img-box:hover {
  cursor: pointer;
}

.caption > p:nth-child(2) {
  font-size: 0.8em;
}

.opacity-low {
  opacity: 0.5;
}


@media screen and (min-width:500px){
  .heading {
    font-size: 5.5em;
  }
}