.hero-section {
    width: 100%;
    height: auto;
    

    .hero-image {
        position: relative;
        width: 100%;
        height: 100vh;
    }

    .overlay {
        position: absolute;
        width: 100%;
        height: 250px;
        background: rgba(33, 9, 57, 0.17);
        color: #fff;
        bottom: 0;
        padding: 20px;
        p {
            font-size: 1.25em;
            line-height: 1em
        }
    }

}


// .hero-section::before {
//     content: "";
//     position: absolute;
//     height: 300px;
//     width: 100%;
//     background: rgba(33, 9, 57, 0.17);
// }