.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.post {
	width: 80%;
	margin: 0 auto;
	color: #fff;
	text-align: center;
}

.site-main .post-navigation {
	width: 80%;
	margin: 0 auto;
}

.post-thumbnail {
	width: 80%;
	height: auto;
	margin: 0 auto;
	border: none;
}
.post-thumbnail img {
	width: 100%;
	height: auto;
	border: 1px solid darkgray;
}

.entry-header {
	font-family: 'Montserrat';
	.entry-title {
		font-family: 'Beau Rivage', cursive;
		//color: #fff;
	}
}

.entry-meta, .entry-footer {
	line-height: 2em;
	color:darkgray;
}

time, a {
	text-decoration: none;
	color: darkgray;
}

a:hover {
	color: #fff;
	text-decoration: underline;
}

a:visited {
	color: lightblue;
}