.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.post {
	width: 80%;
	margin: 0 auto;
	color: #fff;
	text-align: center;
}

.site-main .post-navigation {
	width: 80%;
	margin: 0 auto;
}

.post-thumbnail {
	width: 80%;
	height: auto;
	margin: 0 auto;
	
}
.post-thumbnail img {
	width: fit-content;
}

.entry-header {
	font-family: 'Montserrat';
	.entry-title {
		font-family: 'Beau Rivage', cursive;
		//color: #fff;
	}
}

.entry-meta {
	line-height: 3em;
}

time, a {
	text-decoration: none;
	color: #fff;
}