.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.post {
	width: 80%;
	margin: 0 auto;
	color: #fff;
	text-align: center;
	padding-top: 40px;
}

.site-main .post-navigation {
	width: 80%;
	margin: 0 auto;
}

.post-navigation {
	padding-top: 50px;
}

.post-thumbnail {
	width: 100%;
	height: auto;
	margin: 0 auto;
	border: none;
}

.post-thumbnail img {
	width: fit-content;
	height: auto;
	border: 1px solid darkgray;
}

.entry-header {
	font-family: 'Montserrat';
	.entry-title {
		font-family: 'Beau Rivage', cursive;
		//color: #fff;
	}
}

.entry-meta, .entry-footer {
	line-height: 2em;
	color:darkgray;
}

.entry-meta {
	margin-top: 60px;
}

time, .edit-link a, .logged-in-as a{
	text-decoration: none;
	color: darkgray;
}

.nav-previous a:hover, .nav-next a:hover {
	color: #fff;
	text-decoration: underline;
}

.nav-previous a:visited, .nav-next a:visited, .cat-links a, .author a{
	color: lightblue;
}

h3 {
	font-family: 'Montserrat';
	font-size: 1rem;
}