.preloader{
    /*
    Making the preloader floating over other elements.
    The preloader is visible by default. 
    */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

    #animation1 img {
        display: none;
        width: 200px;
        height: 200px;
        filter: drop-shadow(5px 30px 67px #ff0000);
    }

    #animation1 img:first-child {
        display: block;
    }

    .disable-scroll{
        height: 100%;
        overflow: hidden;
        position: fixed;
      }
}

