.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

.comments-area {
	width: 80%;
	margin: 0 auto;
}
.comment-reply-title {
	color: #fff;
}

.required-field-message {
	color: #fff;
}

.comment-form-comment {
	color: #fff;
}

.comment-form-author, .comment-form-email, .comment-form-url, .comment-form-cookies-consent, #email-notes{
	display: none;
}

.comment-form {
	margin: 0 auto;
}

.form-submit input[type=submit] {
	margin: 0 auto !important;
	text-align: center;
	background-color: #FFF;
	border-radius: 15px;
}

.comment-respond {
	margin-top: 80px;
}