.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

.comments-area {
	width: 80%;
	margin: 0 auto;
}
.comment-reply-title {
	color: #fff;
}

.required-field-message {
	color: #fff;
}

.comment-form-comment {
	color: #fff;
}

.comment-form-author, .comment-form-email, .comment-form-url, .comment-form-cookies-consent, #email-notes{
	display: none;
}

.comment-form {
	margin: 0 auto;
	.form-submit{
		margin-left: auto;
    	margin-right: auto;
	}
}