.site-footer {
    //background-color: #210939;
    width: 100%;
    height: auto;
    padding: 1em 1em;
    text-align: center;
    color: #fff;
    
}
.copyright {
        
    p {
        
        text-align: center;
        color: #fff;
        
    }
}
.footer-column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    .footer-container{
        flex: 1;
        text-align: center;

       h4 {
            margin: 0 auto;
            padding: 1em 0;
            //color: #fff;
       }

       ul {
            margin: 0;
            padding: 0;
       }

       li, a {
            list-style-type: none;
            text-decoration: none;
            line-height: 2em;
            color: #fff;
        }

        .wp-container-6 {
            gap: 0;
        }

        

        .wp-image-140, .wp-image-137, .wp-image-134, .wp-image-139, .wp-image-138 {
            height: 38px;
            width: 38px;
            padding: 0;
            margin: 0;
        }
    }
    
    
}

@media screen and (max-width: 37.5em) {
    .footer-column {
        flex-direction: column;

        .footer-container {
            padding-bottom: 1.5em;

            .wp-container-6 {
                gap: 0;
            }
        }
    
    }
}